@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: -moz-linear-gradient(to right,#FFCB9A, #D2E8E3);
}

main {
    background-color: #fff;
    width: 600px;
    padding: 20px;
    border-radius: 16px;
    margin: auto;
    box-shadow: rgba(0,0,0,0.47) 10px 10px 20px -2px;
}

h1 {
    color: #0F6466;
    text-align: center;
    text-shadow: 1px 1px 2px #0f656669 ;
}

h2 {
    color: #2C3532;

}

p {
    text-align: justify;
}